.header {
  height: 90px;
  display: flex;
  background: linear-gradient(to right, #ffa233, #91ff33);
}

.logo {
  float: left;
  margin-left: 29px;
  font-size: 75px;
  margin-top: 2px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 10px;
}
.nav_elements {
  display: flex;
  margin-top: 34px;
  color: white;
  margin-left: 970px;
  display: flex;
  font-size: 21px;
}

.about {
  
  float: right;
  
  margin-right: 30px;
}
.help {
  
  float: right;
}
.sign {
  
  float: right;
  
  
  margin-right: 30px;
}
