<<<<<<< HEAD
.pic {
  object-fit: cover;
  
}
||||||| 4d4421d
.pic{
    object-fit: cover;
}
=======
.pic{
    margin-bottom: 5%;
    /* width: 100%; */
    object-fit: cover;
    overflow: hidden;
}
>>>>>>> upstream/main
